<div>
  <h2 id="page-heading" data-cy="EtablisUserHeading">
    <span jhiTranslate="gsacorduvsApp.etablisUser.home.title">Etablis Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.etablisUser.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etablis-user"
        [routerLink]="['/etablis-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.etablisUser.home.createLabel"> Create a new Etablis User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etablisUsers?.length === 0">
    <span jhiTranslate="gsacorduvsApp.etablisUser.home.notFound">No etablisUsers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etablisUsers && etablisUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.etablisUser.nome">Nome</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.etablisUser.email">Email</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.etablisUser.position">Position</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.etablisUser.username">Username</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.etablisUser.password">Password</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.etablisUser.internalUser">Internal User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etablisUser of etablisUsers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etablis-user', etablisUser.id, 'view']">{{ etablisUser.id }}</a>
          </td>
          <td>{{ etablisUser.nome }}</td>
          <td>{{ etablisUser.email }}</td>
          <td>{{ etablisUser.position }}</td>
          <td>{{ etablisUser.username }}</td>
          <td>{{ etablisUser.password }}</td>
          <td>
            {{ etablisUser.internalUser?.id }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etablis-user', etablisUser.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etablis-user', etablisUser.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(etablisUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
