<div>
  <h2 id="page-heading" data-cy="EspaceAcEtElHeading">
    <span jhiTranslate="gsacorduvsApp.espaceAcEtEl.home.title">Espace Ac Et Els</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.espaceAcEtEl.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-espace-ac-et-el"
        [routerLink]="['/espace-ac-et-el/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.espaceAcEtEl.home.createLabel"> Create a new Espace Ac Et El </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="espaceAcEtEls?.length === 0">
    <span jhiTranslate="gsacorduvsApp.espaceAcEtEl.home.notFound">No espaceAcEtEls found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="espaceAcEtEls && espaceAcEtEls.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.espaceAcEtEl.name">Name</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.espaceAcEtEl.handle">Handle</span></th>
          <th scope="col"><span jhiTranslate="gsacorduvsApp.espaceAcEtEl.user">User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let espaceAcEtEl of espaceAcEtEls; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/espace-ac-et-el', espaceAcEtEl.id, 'view']">{{ espaceAcEtEl.id }}</a>
          </td>
          <td>{{ espaceAcEtEl.name }}</td>
          <td>{{ espaceAcEtEl.handle }}</td>
          <td>
            {{ espaceAcEtEl.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/espace-ac-et-el', espaceAcEtEl.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/espace-ac-et-el', espaceAcEtEl.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(espaceAcEtEl)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
