<div>
  <h2 id="page-heading" data-cy="EtudeAccordHeading">
    <span jhiTranslate="gsacorduvsApp.etudeAccord.home.title">Etude Accords</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.etudeAccord.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etude-accord"
        [routerLink]="['/etude-accord/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.etudeAccord.home.createLabel"> Create a new Etude Accord </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etudeAccords?.length === 0">
    <span jhiTranslate="gsacorduvsApp.etudeAccord.home.notFound">No etudeAccords found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etudeAccords && etudeAccords.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="titre">
            <span jhiTranslate="gsacorduvsApp.etudeAccord.titre">Titre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateEtude">
            <span jhiTranslate="gsacorduvsApp.etudeAccord.dateEtude">Date Etude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="motiveDirCoor">
            <span jhiTranslate="gsacorduvsApp.etudeAccord.motiveDirCoor">Motive Dir Coor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="signaturereacteru">
            <span jhiTranslate="gsacorduvsApp.etudeAccord.signaturereacteru">Signaturereacteru</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="signatureDiircore">
            <span jhiTranslate="gsacorduvsApp.etudeAccord.signatureDiircore">Signature Diircore</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="signatureChefEtab">
            <span jhiTranslate="gsacorduvsApp.etudeAccord.signatureChefEtab">Signature Chef Etab</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="espaceAcEtEl.name">
            <span jhiTranslate="gsacorduvsApp.etudeAccord.espaceAcEtEl">Espace Ac Et El</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let etudeAccord of etudeAccords; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etude-accord', etudeAccord.id, 'view']">{{ etudeAccord.id }}</a>
          </td>
          <td>{{ etudeAccord.titre }}</td>
          <td>{{ etudeAccord.dateEtude | formatMediumDate }}</td>
          <td>{{ etudeAccord.motiveDirCoor }}</td>
          <td>{{ etudeAccord.signaturereacteru }}</td>
          <td>{{ etudeAccord.signatureDiircore }}</td>
          <td>{{ etudeAccord.signatureChefEtab }}</td>
          <td>
            <div *ngIf="etudeAccord.espaceAcEtEl">
              <a [routerLink]="['/espace-ac-et-el', etudeAccord.espaceAcEtEl?.id, 'view']">{{ etudeAccord.espaceAcEtEl?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etude-accord', etudeAccord.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etude-accord', etudeAccord.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(etudeAccord)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
