<div>
  <h2 id="page-heading" data-cy="DemandElaborationHeading">
    <span jhiTranslate="gsacorduvsApp.demandElaboration.home.title">Demand Elaborations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.demandElaboration.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-demand-elaboration"
        [routerLink]="['/demand-elaboration/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.demandElaboration.home.createLabel"> Create a new Demand Elaboration </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="demandElaborations?.length === 0">
    <span jhiTranslate="gsacorduvsApp.demandElaboration.home.notFound">No demandElaborations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="demandElaborations && demandElaborations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="typeAccord">
            <span jhiTranslate="gsacorduvsApp.demandElaboration.typeAccord">Type Accord</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="titreDemand">
            <span jhiTranslate="gsacorduvsApp.demandElaboration.titreDemand">Titre Demand</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateDeman">
            <span jhiTranslate="gsacorduvsApp.demandElaboration.dateDeman">Date Deman</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formeAccord">
            <span jhiTranslate="gsacorduvsApp.demandElaboration.formeAccord">Forme Accord</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="signaturedircoor">
            <span jhiTranslate="gsacorduvsApp.demandElaboration.signaturedircoor">Signaturedircoor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="espaceAcEtEl.name">
            <span jhiTranslate="gsacorduvsApp.demandElaboration.espaceAcEtEl">Espace Ac Et El</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let demandElaboration of demandElaborations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/demand-elaboration', demandElaboration.id, 'view']">{{ demandElaboration.id }}</a>
          </td>
          <td jhiTranslate="{{ 'gsacorduvsApp.TypeAccord.' + demandElaboration.typeAccord }}">{{ demandElaboration.typeAccord }}</td>
          <td>{{ demandElaboration.titreDemand }}</td>
          <td>{{ demandElaboration.dateDeman | formatMediumDate }}</td>
          <td>{{ demandElaboration.formeAccord }}</td>
          <td>{{ demandElaboration.signaturedircoor }}</td>
          <td>
            <div *ngIf="demandElaboration.espaceAcEtEl">
              <a [routerLink]="['/espace-ac-et-el', demandElaboration.espaceAcEtEl?.id, 'view']">{{
                demandElaboration.espaceAcEtEl?.name
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/demand-elaboration', demandElaboration.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/demand-elaboration', demandElaboration.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(demandElaboration)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
