<div>
  <h2 id="page-heading" data-cy="EtablisemntPartenHeading">
    <span jhiTranslate="gsacorduvsApp.etablisemntParten.home.title">Etablisemnt Partens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.etablisemntParten.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etablisemnt-parten"
        [routerLink]="['/etablisemnt-parten/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gsacorduvsApp.etablisemntParten.home.createLabel"> Create a new Etablisemnt Parten </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etablisemntPartens?.length === 0">
    <span jhiTranslate="gsacorduvsApp.etablisemntParten.home.notFound">No etablisemntPartens found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etablisemntPartens && etablisemntPartens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="contry">
            <span jhiTranslate="gsacorduvsApp.etablisemntParten.contry">Contry</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nameEtab">
            <span jhiTranslate="gsacorduvsApp.etablisemntParten.nameEtab">Name Etab</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="domain">
            <span jhiTranslate="gsacorduvsApp.etablisemntParten.domain">Domain</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="mention">
            <span jhiTranslate="gsacorduvsApp.etablisemntParten.mention">Mention</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="representantname">
            <span jhiTranslate="gsacorduvsApp.etablisemntParten.representantname">Representantname</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let etablisemntParten of etablisemntPartens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etablisemnt-parten', etablisemntParten.id, 'view']">{{ etablisemntParten.id }}</a>
          </td>
          <td>{{ etablisemntParten.contry }}</td>
          <td>{{ etablisemntParten.nameEtab }}</td>
          <td>{{ etablisemntParten.domain }}</td>
          <td>{{ etablisemntParten.mention }}</td>
          <td>{{ etablisemntParten.representantname }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etablisemnt-parten', etablisemntParten.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etablisemnt-parten', etablisemntParten.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(etablisemntParten)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
